@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 23, 23, 23;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 250, 250, 250;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 10, 10, 10;
  }
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}